extends template.jade

block content
  .about
    .wrapper
      h1 о бутике
      .about__info.clearfix
        .about__info__img
          img(src="img/about-info-1.png", alt="")
        .about__info__txt
          .about__info__txt--sm
            p 
              strong Наш сайт - своеобразный выставочный зал, под крышей которого мы собрали телефоны Vertu. Вы сможете внимательно рассмотреть каждый образец и одновременно получить исчерпывающую информацию по каждой модели. Это позволит Вам охватить всю линейку телефонов премиум класса, аксессуаров к ним и сделать правильный выбор.
            hr
            p Важно помнить, что каждый приобретенный у нас телефон, обслуживается фирменной гарантийной и сервисной площадкой. Это гарантирует Вам качественное обслуживание приобретенного оборудования в случае его неисправности. Все ремонтные работы производится сервисными центрами. Это избавляет наших клиентов от лишних хлопот, оставляя время на бизнес и отдых в окружении роскошных вещей.
          .about__info__txt--full
            p В разделе «Телефоны» Вы легко изучите ассортимент предлагаемых моделей. От стильных новинок линейки Aster, до классических моделей Signature. Телефоны представлены в качественном изображении, что позволяет внимательно оценить их внешний вид.
            p Вам наскучил внешний вид любимого телефона Vertu? Его изменить легко и просто, если воспользоваться услугой, предлагаемой нашей компанией. Это – тюнинг моделей, включающий перетяжку кожей. Ждать, когда неумолимое время заставит воспользоваться этим предложением совсем необязательно. Декорировать кожей телефон Vertu по собственному вкусу и настроению можно многократно. У нас всегда в наличии широкая цветовая палитра натуральных материалов, а наши опытные специалисты проведут необходимый объем работ в сжатые сроки и на высоком качественном уровне.
            p Там же можно приобрести некоторые модели телефонов Vertu по более демократичным ценам, поскольку они относятся к категории вторичной продажи. Но это не уменьшает их достоинств. Телефоны прошли всю предпродажную подготовку, побывав в руках у наших мастеров.
            p Сделайте посещение нашего виртуального выставочного зала своей полезной привычкой, и Вы всегда будете в курсе новинок, касающихся телефонов Vertu.
        span.plus
    .wrapper
      .team
        h2 команда проекта
        h5 Сопровождением любого Вашего заказа занимается команда высоко квалифицированных сотрудников
        .clearfix.team__slider
          mixin teamItem(img, name, whois)
            div(class="team__slider__item")
              div(class="team__slider__item__border", style="background-image: url('img/" + img + ".jpg')")
              div(class="team__slider__item__info")
                h3=name
                p=whois
                span(class="plus js-modal")
          +teamItem('staff-1', 'Анна', 'секретарь')
          +teamItem('staff-2', 'Владислав', 'региональный менеджер')
          +teamItem('staff-3', 'Роман', 'Руководитель')
          +teamItem('staff-4', 'Мария', 'Программист')
          +teamItem('staff-5', 'Ада', 'Реклама')
        .team-txt
          p Профессионалы своего дела  и опытные мастера помогут подобрать соответствующую Вашему статусу и положению в обществе модель телефона - совершенство формы и содержания, предложат оптимальные варианты по соотношению цена качество, проведут тщательную  диагностику  аппарата. Если возникла необходимость перетянуть модель кожей или  потребность в ремонте уже существующего телефона, то многолетний   инженерный опыт наших специалистов, поможет  вернуть каждой модели первоначальный лоск и величие, а также выбрать новую модель взамен старой.Мы работаем 24 часа в сутки, 7 дней в неделю и стараемся максимально соответствовать ожиданиям клиентов, что бы Вы могли наслаждаться новым телефоном, который подчеркнет Вашу индивидуальность, оставив у Вас исключительно приятные впечатления о работе с проектом vertu.msk.ru
          span(class="plus js-modal") Написать нам
        .hidden
          div(id="about-popup", class="box-modal")
            .box-modal_close.arcticmodal-close
              | закрыть
            | АНДРЕЙ РИСУЕТ МОДАЛЬНОЕ ОКНО
    .bordered-info.bordered-info--license
      .wrapper
        h2 Лицензии и сертификаты
        .bordered-info__txt
          p Все сотовые телефоны проекта vertu.msk.ru продаются с гарантийным талоном производителя. Это гарантирует Вам качественное обслуживание приобретенного оборудования в случае его неисправности. Все сотовые телефоны проекта vertu.msk.ru продаются с гарантийным талоном производителя. Это гарантирует Вам качественное обслуживание приобретенного оборудования в случае его неисправности. Все гарантийное и послегарантийное обслуживание товаров производится сервисными центрами. 
          p Перечень сервисных центров приведен в гарантийном талоне. Гарантийный срок составляет: для телефонов 1 год с даты продажи (если не указано иное), в гарантийном талоне. В течение гарантийного срока производится бесплатное гарантийное обслуживание (ремонт) телефона, при условии соблюдения потребителем условий эксплуатации и хранения. Даже если на корпус оригинальной модели за время эксплуатации была нанесен рисунок или сделана инкрустация мы сможем оказать гарантийное обслуживание в рамках гарантии производителя.
    .about-boutique.about-boutique--about
      .wrapper
        .about-boutique__list.clearfix
          mixin aboutBoutique(img, h3, txt)
            .about-boutique__list__item
              a(href="", class="about-boutique__list__item--img")
                span.plus
                img(src=img, alt="")
              .about-boutique__list__item--txt
                h3=h3
                p=txt
          +aboutBoutique('img/about-1.jpg', 'Телефоны', 'Большинство пользователей привыкли к тому, что телефоны Vertu ориентируются на свое внешнее превосходство, отодвигая внутренние характеристики на второй план. ')
          +aboutBoutique('img/about-2.jpg', 'Часы', 'Большинство пользователей привыкли к тому, что телефоны Vertu ориентируются на свое внешнее превосходство, отодвигая внутренние характеристики на второй план. ')
          +aboutBoutique('img/about-3.jpg', 'Украшения', 'Большинство пользователей привыкли к тому, что телефоны Vertu ориентируются на свое внешнее превосходство, отодвигая внутренние характеристики на второй план. ')
          +aboutBoutique('img/about-4.jpg', 'Разное', 'Большинство пользователей привыкли к тому, что телефоны Vertu ориентируются на свое внешнее превосходство, отодвигая внутренние характеристики на второй план. ')
        h2 Тюнинг и прокат телефонов
        .about-boutique__list.clearfix
          mixin aboutBoutique(img, h3, txt)
            .about-boutique__list__item
              a(href="", class="about-boutique__list__item--img")
                span.plus
                img(src=img, alt="")
              .about-boutique__list__item--txt
                h3=h3
                p=txt
          +aboutBoutique('img/about-5.jpg', 'перетяжка кожей', 'Ваш любимый телефон потерял тот былой лоск, что был раньше или Вам захотелось выделиться из толпы безликих аппаратов? Мы не просто дарим Вам уникальный дизайн в сумме с эксклюзивными материалами, мы дарим Вам часть себя.')
          +aboutBoutique('img/about-6.jpg', 'инкрустация', 'Опыт и кропотливая работа - вот залог успеха и популярности именно нашей мастерской. Наши клиенты обращаются к нам вновь и вновь, ведь они знают, что только мы даем лучшее предложение на рынке в соотношении цены и качества.')
          +aboutBoutique('img/about-7.jpg', 'аэрография', 'Наши мастера помогут Вам в этом! Опыт и кропотливая работа - вот залог успеха и популярности именно нашей мастерской. Наши клиенты обращаются к нам вновь и вновь, ведь они знают, что только мы даем лучшее предложение на рынке в соотношении цены и качества.')
          +aboutBoutique('img/about-8.jpg', 'прокат vertu', 'Хотите почувствовать себя владельцем роскошного телефона Vertu? Воспользуйтесь нашей, привлекательной для таких ситуаций услугой - «Прокат Vertu». VМы предлагаем широкий выбор модельных телефонов Vertu, во временное пользование.')
    .service-info
      .wrapper.clearfix
        .col-md-6.service-info__service
          h2 УСЛУГИ
          mixin serviceMain(img, h3, txt)
            .service-info__service__item
              a(href="", class="service-info__service__item--img")
                span.plus
                img(src=img, alt="")
              .service-info__service__item--txt
                a(href="") 
                  h3=h3
                p=txt
          +serviceMain('img/serv-1.jpg', 'СЕРВИСЫ VERTU', 'Телефоны Верту создаются для самых взыскательных клиентов. Мир владельцев Верту – это услуги, вещи, отдых и развлечения преимиум-класса. Следуя пожеланиям своих клиентов, компания Vertu разработала набор персональных услуг, цель которых – обеспечить высочайший уровень сервиса.')
          +serviceMain('img/serv-2.jpg', 'ВИДЫ Ремонта', 'Все сотовые телефоны проекта vertu.msk.ru продаются с гарантийным талоном производителя. Это гарантирует Вам качественное обслуживание приобретенного оборудования в случае его неисправности.')
          .ta-c
            a(href="service.html", class="plus") все услуги
        .col-md-6.service-info__info
          a(href="", class="youtube")
          h2 ИНФОРМАЦИЯ
          iframe(src="http://www.youtube.com/embed/fH9ntPr1RTw?wmode=opaque", width="100%", height="315", frameborder="0")
          .service-info__info--header
            h4 Vertu Constellation V. Робот и крокодил. 
          .ta-c
            a(href="", class="plus") больше информации
