extends template.jade

block content
  .service-bg
    .row.wrapper
      .col-sm-offset-6.col-sm-6.repare.repare-tel
        h2 РЕМОНТ телефонов
        .repare-txt
          p В случае возникновения любой технической неисправности, Вы всегда сможете отремонтировать свой телефон, причем сделать это в максимально короткие сроки.
        a.plus(href="service-item.html") ПОДРОБНО
    .row.wrapper
      .col-sm-6.repare.repare-watch
        h2 РЕМОНТ часов
        h5 
          span 13 видов ремонта
        .repare-txt
          p Компания Spblux осуществляет качественный ремонт часов с использованием только оригинальных материалов и комплектующих. Работы по ремонту и техническому обслуживанию осуществляются в кратчайшие сроки после обращения в наш сервисный центр. Также наша компания гарантирует сохранность внешнего вида часов и дает гарантии на все проведенные работы.
        a.plus(href="") ПОДРОБНО
    .row.wrapper
      .col-sm-offset-6.col-sm-6.repare.repare-vertu
        h2 ЗАПЧАСТИ VERTU
        .repare-txt
          p Вы ищете, где отремонтировать Ваш Vertu или Вам понадобились уникальные запчасти? Мы готовы предоставить Вам любые детали по выгодным ценам.Если Вы сервисный центр или оптовый покупатель, то стоит обратиться к нам по многим причинам:
            ul
              li Все детали ОРИГИНАЛЬНОГО производства.
              li Действует выгодная программа лояльности.
              li Наши сроки поставки комплектующих (под заказ) самые быстрые на всем рынке.
              li Многие детали есть в наличии, и Вам не придется ждать. Вы можете их забрать уже сегодня.
              li Доставка в любую точку мира, любого количества, любым удобным Вам способом.
        a.plus(href="") ПОДРОБНО
    .service-vertu
      .wrapper
        h2 СЕРВИСЫ VERTU
        p Телефоны Верту создаются для самых взыскательных клиентов. Мир владельцев Верту – это услуги, вещи, отдых и развлечения преимиум-класса. Следуя пожеланиям своих клиентов, компания Vertu разработала набор персональных услуг, цель которых – обеспечить высочайший уровень сервиса. Комплекс разноплановых услуг продуман таким образом, чтобы предоставить пользователям помощь в любых ситуациях: от бронирования гостиницы до организации семейного торжества. Сервисы Верту уникальны: они доступны только для владельцев телефонов данной марки.
        .rhomb
          mixin rhombs(classes, header, descr)
            div(class=classes)
              h5=header
              .rhomb__item__txt
                p=descr
              span(class="plus js-modal js-service")
          +rhombs('rhomb__item rhomb__item--1', '1Vertu Remote Assist: уверенность в своевременной помощи', 'Согласно условиям обслуживания Vertu Remote Assist, обладателю телефона Vertu предоставляется ежедневная круглосуточная техническая поддержка.')
          +rhombs('rhomb__item rhomb__item--2', '2Vertu Certainty: гарантия качества', 'Счастливые обладатели телефонов Signature получают в подарок пакет послепродажного обслуживания Vertu Certainty.')
          +rhombs('rhomb__item rhomb__item--3', '3Vertu Me: эксклюзивная служба электронной почты', 'В рамках сервиса Vertu Me осуществляется автоматическая синхронизация данных с сервером Vertu для поддержания неизменно обновленного статуса информации.')
          +rhombs('rhomb__item rhomb__item--4', '4Vertu Fortress: надежность хранения информации', 'Всего одно нажатие кнопки и Vertu Fortress автоматически сохраняет все ваши фото и видео. В случае потери или повреждения файлов, вся сохраненная информация в последствии будет легко восстановлена.')
          +rhombs('rhomb__item rhomb__item--5', '5Vertu City Brief: ваш персональный гид', 'Начиная с первых мгновений пребывания в незнакомом городе, канал Vertu City Brief станет Вашим осведомленным гидом по новой территории.')
          +rhombs('rhomb__item rhomb__item--6', '6Vertu Select: информация о самых интересных для вас событиях', 'Благодаря данной услуге Вы будете получать информацию о самых интересных мероприятиях, в той точке земного шара, где Вы находитесь в данный момент.')
          +rhombs('rhomb__item rhomb__item--7', '7Vertu Concierge: независимая консьерж служба', 'Vertu Concierge – самый яркий алмаз, в короне услуг Vertu. Это служба поддержки, в которую можно обратиться по любым вопросам: помочь выбрать подарок, организовать сафари, заказать столик в любом ресторане мира. ')
      .hidden
        div(id="service-popup", class="box-modal")
          .box-modal_close.arcticmodal-close
            | закрыть
          | АНДРЕЙ РИСУЕТ МОДАЛЬНОЕ ОКНО
    .about-boutique.about-boutique--service
      .wrapper
        h2 ТЮНИНГ и прокат ТЕЛЕФОНОВ
        .about-boutique__list.clearfix
          mixin aboutBoutique(img, h3, txt)
            .about-boutique__list__item
              a(href="", class="about-boutique__list__item--img")
                span.plus
                img(src=img, alt="")
              .about-boutique__list__item--txt
                h3=h3
                p=txt
          +aboutBoutique('img/about-5.jpg', 'перетяжка кожей', 'Ваш любимый телефон потерял тот былой лоск, что был раньше или Вам захотелось выделиться из толпы безликих аппаратов? Мы не просто дарим Вам уникальный дизайн в сумме с эксклюзивными материалами, мы дарим Вам часть себя.')
          +aboutBoutique('img/about-6.jpg', 'инкрустация', 'Опыт и кропотливая работа - вот залог успеха и популярности именно нашей мастерской. Наши клиенты обращаются к нам вновь и вновь, ведь они знают, что только мы даем лучшее предложение на рынке в соотношении цены и качества.')
          +aboutBoutique('img/about-7.jpg', 'аэрография', 'Наши мастера помогут Вам в этом! Опыт и кропотливая работа - вот залог успеха и популярности именно нашей мастерской. Наши клиенты обращаются к нам вновь и вновь, ведь они знают, что только мы даем лучшее предложение на рынке в соотношении цены и качества.')
          +aboutBoutique('img/about-8.jpg', 'прокат vertu', 'Хотите почувствовать себя владельцем роскошного телефона Vertu? Воспользуйтесь нашей, привлекательной для таких ситуаций услугой - «Прокат Vertu». VМы предлагаем широкий выбор модельных телефонов Vertu, во временное пользование.')
    .new-catalog
      .wrapper
        h2 Наши работы
        .new-catalog__menu
          a(href="gallery.html", class="slider-lnk slider-lnk--gallery") 
            span Галерея
          span(class="tabs__sm tabs__sm--service") -- выберите модельный ряд --
          ul(id="new-catalog", class="tabs tabs--service")
            li(class="tabs__item current") 
              a(href="tab-3.html", data-item="-- Все --") Все
            li(class="tabs__item")
              a(href="tab-3.html", data-item="-- Модельный ряд 1 --") Модельный ряд 1
            li(class="tabs__item")
              a(href="tab-2.html", data-item="-- Модельный ряд 2 --") Модельный ряд 2
            li(class="tabs__item")
              a(href="tab-3.html", data-item="-- Модельный ряд с очень длинным названием --") Модельный ряд с очень длинным названием

      div(id="new-catalog__container", class="tabs-container")

    .service-bottom
      .col-xs-12.col-sm-6.service-bottom--credit
        .service-bottom__right
          .service-bottom__item
            h2 Кредит
            h5 
              span товары / услуги
            .repare-txt
              p Хотите поменять старый телефон или часы на более новую и совершенную модель? Стремитесь к выгодным покупкам? Мы поможем Вам это сделать. В нашем бутике «Spblux» предоставляется услуга Trade-in.
            a.plus(href="") ПОДРОБНО
      .col-xs-12.col-sm-6.service-bottom--trade-in
        .service-bottom__item
          h2 TRADE-IN
          .repare-txt
            p Хотите поменять старый телефон или часы на более новую и совершенную модель? Стремитесь к выгодным покупкам? Мы поможем Вам это сделать. В нашем бутике «Spblux» предоставляется услуга Trade-in.
          a.plus(href="") ПОДРОБНО
